<h1>Angular Project Practice</h1>
<h2>Created by:
  <strong>{{firstName + " " + lastName}}</strong>
</h2>
<hr>
<hr>
<p>Interpolation : {{2+2}}</p>
<p>String Concatenation : {{"2 + 2 = " + 2+2}}</p>
<p>String length : {{fullName.length}}</p>
<p>{{greetUser()}}</p>
<hr>
<p>Site URL is: {{siteUrl}}</p>
<hr>
<h4>property binding VS attribute binding</h4>
<div>
  <label [for]="myId">Attribute Binding</label>
  <input type="text" value="Angular" [id]="myId">
</div>
<div>
  <label for="myNewId">Disable Input Attribute Binding</label>
  <input type="text" value="Angular" id="myNewId" [disabled]="isDisabled">
</div>
<router-outlet></router-outlet>
